<div>
    <h2 id="page-heading">
        <span jhiTranslate="examenApp.commande.home.title">Commandes</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-commande" [routerLink]="['/commande/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="examenApp.commande.home.createLabel">
            Create a new Commande
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="commandes?.length === 0">
        <span jhiTranslate="examenApp.commande.home.notFound">No commandes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="commandes && commandes.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="datedebut"><span jhiTranslate="examenApp.commande.datedebut">Datedebut</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="datefin"><span jhiTranslate="examenApp.commande.datefin">Datefin</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="heuredebut"><span jhiTranslate="examenApp.commande.heuredebut">Heuredebut</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="heurefin"><span jhiTranslate="examenApp.commande.heurefin">Heurefin</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="pointsfidelite"><span jhiTranslate="examenApp.commande.pointsfidelite">Pointsfidelite</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="client.prenom"><span jhiTranslate="examenApp.commande.client">Client</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lieu.nomlieu"><span jhiTranslate="examenApp.commande.lieu">Lieu</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="evenement.libelle"><span jhiTranslate="examenApp.commande.evenement">Evenement</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fete.libelle"><span jhiTranslate="examenApp.commande.fete">Fete</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let commande of commandes ;trackBy: trackId">
                    <td><a [routerLink]="['/commande', commande.id, 'view']">{{ commande.id }}</a></td>
                    <td>{{ commande.datedebut | date:'mediumDate' }}</td>
                    <td>{{ commande.datefin | date:'mediumDate' }}</td>
                    <td>{{ commande.heuredebut }}</td>
                    <td>{{ commande.heurefin }}</td>
                    <td>{{ commande.pointsfidelite }}</td>
                    <td>
                        <div *ngIf="commande.client">
                            <a [routerLink]="['/client', commande.client?.id, 'view']" >{{ commande.client?.prenom }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="commande.lieu">
                            <a [routerLink]="['/lieu', commande.lieu?.id, 'view']" >{{ commande.lieu?.nomlieu }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="commande.evenement">
                            <a [routerLink]="['/evenement', commande.evenement?.id, 'view']" >{{ commande.evenement?.libelle }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="commande.fete">
                            <a [routerLink]="['/fete', commande.fete?.id, 'view']" >{{ commande.fete?.libelle }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/commande', commande.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/commande', commande.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(commande)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="commandes && commandes.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
