<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="commande">
            <h2><span jhiTranslate="examenApp.commande.detail.title">Commande</span> {{ commande.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="examenApp.commande.datedebut">Datedebut</span></dt>
                <dd>
                    <span>{{ commande.datedebut }}</span>
                </dd>
                <dt><span jhiTranslate="examenApp.commande.datefin">Datefin</span></dt>
                <dd>
                    <span>{{ commande.datefin }}</span>
                </dd>
                <dt><span jhiTranslate="examenApp.commande.heuredebut">Heuredebut</span></dt>
                <dd>
                    <span>{{ commande.heuredebut }}</span>
                </dd>
                <dt><span jhiTranslate="examenApp.commande.heurefin">Heurefin</span></dt>
                <dd>
                    <span>{{ commande.heurefin }}</span>
                </dd>
                <dt><span jhiTranslate="examenApp.commande.pointsfidelite">Pointsfidelite</span></dt>
                <dd>
                    <span>{{ commande.pointsfidelite }}</span>
                </dd>
                <dt><span jhiTranslate="examenApp.commande.client">Client</span></dt>
                <dd>
                    <div *ngIf="commande.client">
                        <a [routerLink]="['/client', commande.client?.id, 'view']">{{ commande.client?.prenom }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="examenApp.commande.lieu">Lieu</span></dt>
                <dd>
                    <div *ngIf="commande.lieu">
                        <a [routerLink]="['/lieu', commande.lieu?.id, 'view']">{{ commande.lieu?.nomlieu }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="examenApp.commande.evenement">Evenement</span></dt>
                <dd>
                    <div *ngIf="commande.evenement">
                        <a [routerLink]="['/evenement', commande.evenement?.id, 'view']">{{ commande.evenement?.libelle }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="examenApp.commande.fete">Fete</span></dt>
                <dd>
                    <div *ngIf="commande.fete">
                        <a [routerLink]="['/fete', commande.fete?.id, 'view']">{{ commande.fete?.libelle }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/commande', commande.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
