<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-commande-heading" jhiTranslate="examenApp.commande.home.createOrEditLabel">Create or edit a Commande</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examenApp.commande.datedebut" for="field_datedebut">Datedebut</label>
                    <div class="input-group">
                        <input id="field_datedebut" type="text" class="form-control" name="datedebut" ngbDatepicker #datedebutDp="ngbDatepicker" formControlName="datedebut"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="datedebutDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examenApp.commande.datefin" for="field_datefin">Datefin</label>
                    <div class="input-group">
                        <input id="field_datefin" type="text" class="form-control" name="datefin" ngbDatepicker #datefinDp="ngbDatepicker" formControlName="datefin"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="datefinDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examenApp.commande.heuredebut" for="field_heuredebut">Heuredebut</label>
                    <input type="number" class="form-control" name="heuredebut" id="field_heuredebut"
                           formControlName="heuredebut"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examenApp.commande.heurefin" for="field_heurefin">Heurefin</label>
                    <input type="number" class="form-control" name="heurefin" id="field_heurefin"
                           formControlName="heurefin"/>
                </div>

                <div *jhiHasAnyAuthority="'ROLE_ADMIN'" class="form-group">
                    <label class="form-control-label" jhiTranslate="examenApp.commande.pointsfidelite" for="field_pointsfidelite">Pointsfidelite</label>
                    <input type="number" class="form-control" name="pointsfidelite" id="field_pointsfidelite"
                           formControlName="pointsfidelite"/>
                </div>

                <div *jhiHasAnyAuthority="'ROLE_ADMIN'" class="form-group">
                    <label class="form-control-label" jhiTranslate="examenApp.commande.client" for="field_client">Client</label>
                    <select class="form-control" id="field_client" name="client" formControlName="client">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="clientOption.id === editForm.get('client')!.value?.id ? editForm.get('client')!.value : clientOption" *ngFor="let clientOption of clients; trackBy: trackById">{{ clientOption.prenom }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examenApp.commande.lieu" for="field_lieu">Lieu</label>
                    <select class="form-control" id="field_lieu" name="lieu" formControlName="lieu">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="lieuOption.id === editForm.get('lieu')!.value?.id ? editForm.get('lieu')!.value : lieuOption" *ngFor="let lieuOption of lieus; trackBy: trackById">{{ lieuOption.nomlieu }}</option>
                    </select>
                </div>

                <div *jhiHasAnyAuthority="'ROLE_ADMIN'" class="form-group">
                    <label class="form-control-label" jhiTranslate="examenApp.commande.evenement" for="field_evenement">Evenement</label>
                    <select class="form-control" id="field_evenement" name="evenement" formControlName="evenement">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="evenementOption.id === editForm.get('evenement')!.value?.id ? editForm.get('evenement')!.value : evenementOption" *ngFor="let evenementOption of evenements; trackBy: trackById">{{ evenementOption.libelle }}</option>
                    </select>
                </div>

                <div *jhiHasAnyAuthority="'ROLE_ADMIN'" class="form-group">
                    <label class="form-control-label" jhiTranslate="examenApp.commande.fete" for="field_fete">Fete</label>
                    <select class="form-control" id="field_fete" name="fete" formControlName="fete">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="feteOption.id === editForm.get('fete')!.value?.id ? editForm.get('fete')!.value : feteOption" *ngFor="let feteOption of fetes; trackBy: trackById">{{ feteOption.libelle }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
