<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="fete">
            <h2><span jhiTranslate="examenApp.fete.detail.title">Fete</span> {{ fete.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="examenApp.fete.libelle">Libelle</span></dt>
                <dd>
                    <span>{{ fete.libelle }}</span>
                </dd>
                <dt><span jhiTranslate="examenApp.fete.description">Description</span></dt>
                <dd>
                    <span>{{ fete.description }}</span>
                </dd>
                <dt><span jhiTranslate="examenApp.fete.etat">Etat</span></dt>
                <dd>
                    <span>{{ fete.etat }}</span>
                </dd>
                <dt><span jhiTranslate="examenApp.fete.remise">Remise</span></dt>
                <dd>
                    <div *ngIf="fete.remise">
                        <a [routerLink]="['/remise', fete.remise?.id, 'view']">{{ fete.remise?.libelle }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/fete', fete.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
