<div class="footer">
    <h5 class="card-text text-primary">
        <span class="badge badge-secondary">
            Votre site de location à votre service - Contacts : einsarr@gmail.com - 221777437440
        </span>
    </h5>
</div>
