<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="remise">
            <h2><span jhiTranslate="examenApp.remise.detail.title">Remise</span> {{ remise.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="examenApp.remise.libelle">Libelle</span></dt>
                <dd>
                    <span>{{ remise.libelle }}</span>
                </dd>
                <dt><span jhiTranslate="examenApp.remise.description">Description</span></dt>
                <dd>
                    <span>{{ remise.description }}</span>
                </dd>
                <dt><span jhiTranslate="examenApp.remise.pourcentage">Pourcentage</span></dt>
                <dd>
                    <span>{{ remise.pourcentage }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/remise', remise.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
