<div class="container-fluid" style="width: auto">

<!--    <div  class="alert alert-warning" id="no-result" *ngIf="lieus?.length === 0">-->
<!--        <span jhiTranslate="examenApp.lieu.home.notFound">No lieus found</span>-->
<!--    </div>-->

    <div class="row" *ngIf="lieus && lieus.length > 0" style="align-content: center">
        <div class="card" style="width: 18rem;" *ngFor="let lieu of lieus ;trackBy: trackId">
            <img (click)="openFile(lieu.imageContentType, lieu.image)" class="card-img-top" [src]="'data:' + lieu.imageContentType + ';base64,' + lieu.image" style="max-height: 200px;" alt="lieu image"/>
            <div class="card-body">
                <h5 class="card-title">{{ lieu.nomlieu }}</h5>
                <p class="card-text">{{ lieu.description }}</p>
                <a [routerLink]="['/commande/new']" class="btn btn-primary">Commander</a>
            </div>
            <div *jhiHasAnyAuthority="'ROLE_ADMIN'">
                <button type="submit"
                        [routerLink]="['/lieu', lieu.id, 'view']"
                        class="btn btn-info btn-sm">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                </button>
                <button type="submit"
                        [routerLink]="['/lieu', lieu.id, 'edit']"
                        class="btn btn-primary btn-sm">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                </button>
                <button type="submit" (click)="delete(lieu)"
                        class="btn btn-danger btn-sm">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                </button>
            </div>
        </div>


    </div>
    <button *jhiHasAnyAuthority="'ROLE_ADMIN'"  id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-lieu" [routerLink]="['/lieu/new']">
        <fa-icon icon="plus"></fa-icon>
        <span  jhiTranslate="examenApp.lieu.home.createLabel">
            Nouveau
            </span>
    </button>
    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

</div>
