<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="lieu">
            <h2><span jhiTranslate="examenApp.lieu.detail.title">Lieu</span> {{ lieu.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="examenApp.lieu.nomlieu">Nomlieu</span></dt>
                <dd>
                    <span>{{ lieu.nomlieu }}</span>
                </dd>
                <dt><span jhiTranslate="examenApp.lieu.description">Description</span></dt>
                <dd>
                    <span>{{ lieu.description }}</span>
                </dd>
                <dt><span jhiTranslate="examenApp.lieu.adresse">Adresse</span></dt>
                <dd>
                    <span>{{ lieu.adresse }}</span>
                </dd>
                <dt><span jhiTranslate="examenApp.lieu.email">Email</span></dt>
                <dd>
                    <span>{{ lieu.email }}</span>
                </dd>
                <dt><span jhiTranslate="examenApp.lieu.telephonefixe">Telephonefixe</span></dt>
                <dd>
                    <span>{{ lieu.telephonefixe }}</span>
                </dd>
                <dt><span jhiTranslate="examenApp.lieu.telephoneportable">Telephoneportable</span></dt>
                <dd>
                    <span>{{ lieu.telephoneportable }}</span>
                </dd>
                <dt><span jhiTranslate="examenApp.lieu.prix">Prix</span></dt>
                <dd>
                    <span>{{ lieu.prix }}</span>
                </dd>
                <dt><span jhiTranslate="examenApp.lieu.image">Image</span></dt>
                <dd>
                    <div *ngIf="lieu.image">
                        <a (click)="openFile(lieu.imageContentType, lieu.image)">
                            <img [src]="'data:' + lieu.imageContentType + ';base64,' + lieu.image" style="max-width: 100%;" alt="lieu image"/>
                        </a>
                        {{ lieu.imageContentType }}, {{ byteSize(lieu.image) }}
                    </div>
                </dd>
                <dt><span jhiTranslate="examenApp.lieu.typelieu">Typelieu</span></dt>
                <dd>
                    <div *ngIf="lieu.typelieu">
                        <a [routerLink]="['/typelieu', lieu.typelieu?.id, 'view']">{{ lieu.typelieu?.libelle }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/lieu', lieu.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
