<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-lieu-heading" jhiTranslate="examenApp.lieu.home.createOrEditLabel">Create or edit a Lieu</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examenApp.lieu.nomlieu" for="field_nomlieu">Nomlieu</label>
                    <input type="text" class="form-control" name="nomlieu" id="field_nomlieu"
                           formControlName="nomlieu"/>
                    <div *ngIf="editForm.get('nomlieu')!.invalid && (editForm.get('nomlieu')!.dirty || editForm.get('nomlieu')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nomlieu')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examenApp.lieu.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examenApp.lieu.adresse" for="field_adresse">Adresse</label>
                    <input type="text" class="form-control" name="adresse" id="field_adresse"
                           formControlName="adresse"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examenApp.lieu.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                           formControlName="email"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examenApp.lieu.telephonefixe" for="field_telephonefixe">Telephonefixe</label>
                    <input type="text" class="form-control" name="telephonefixe" id="field_telephonefixe"
                           formControlName="telephonefixe"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examenApp.lieu.telephoneportable" for="field_telephoneportable">Telephoneportable</label>
                    <input type="text" class="form-control" name="telephoneportable" id="field_telephoneportable"
                           formControlName="telephoneportable"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examenApp.lieu.prix" for="field_prix">Prix</label>
                    <input type="number" class="form-control" name="prix" id="field_prix"
                           formControlName="prix"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examenApp.lieu.image" for="field_image">Image</label>
                    <div>
                        <img [src]="'data:' + editForm.get('imageContentType')!.value + ';base64,' + editForm.get('image')!.value" style="max-height: 100px;" *ngIf="editForm.get('image')!.value" alt="lieu image"/>
                        <div *ngIf="editForm.get('image')!.value" class="form-text text-danger clearfix">
                            <span class="pull-left">{{ editForm.get('imageContentType')!.value }}, {{ byteSize(editForm.get('image')!.value) }}</span>
                            <button type="button" (click)="clearInputImage('image', 'imageContentType', 'file_image')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon icon="times"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_image" (change)="setFileData($event, 'image', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                    </div>
                    <input type="hidden" class="form-control" name="image" id="field_image"
                           formControlName="image"/>
                    <input type="hidden" class="form-control" name="imageContentType" id="field_imageContentType"
                           formControlName="imageContentType" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examenApp.lieu.typelieu" for="field_typelieu">Typelieu</label>
                    <select class="form-control" id="field_typelieu" name="typelieu" formControlName="typelieu">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="typelieuOption.id === editForm.get('typelieu')!.value?.id ? editForm.get('typelieu')!.value : typelieuOption" *ngFor="let typelieuOption of typelieus; trackBy: trackById">{{ typelieuOption.libelle }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
