<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="client">
            <h2><span jhiTranslate="examenApp.client.detail.title">Client</span> {{ client.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="examenApp.client.prenom">Prenom</span></dt>
                <dd>
                    <span>{{ client.prenom }}</span>
                </dd>
                <dt><span jhiTranslate="examenApp.client.nom">Nom</span></dt>
                <dd>
                    <span>{{ client.nom }}</span>
                </dd>
                <dt><span jhiTranslate="examenApp.client.datenaissance">Datenaissance</span></dt>
                <dd>
                    <span>{{ client.datenaissance }}</span>
                </dd>
                <dt><span jhiTranslate="examenApp.client.lieunaissance">Lieunaissance</span></dt>
                <dd>
                    <span>{{ client.lieunaissance }}</span>
                </dd>
                <dt><span jhiTranslate="examenApp.client.cni">Cni</span></dt>
                <dd>
                    <span>{{ client.cni }}</span>
                </dd>
                <dt><span jhiTranslate="examenApp.client.telephone">Telephone</span></dt>
                <dd>
                    <span>{{ client.telephone }}</span>
                </dd>
                <dt><span jhiTranslate="examenApp.client.email">Email</span></dt>
                <dd>
                    <span>{{ client.email }}</span>
                </dd>
                <dt><span jhiTranslate="examenApp.client.sexe">Sexe</span></dt>
                <dd>
                    <span>{{ client.sexe }}</span>
                </dd>
                <dt><span jhiTranslate="examenApp.client.adresse">Adresse</span></dt>
                <dd>
                    <span>{{ client.adresse }}</span>
                </dd>
                <dt><span jhiTranslate="examenApp.client.user">User</span></dt>
                <dd>
                    {{ client.user?.login }}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/client', client.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
