<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="evenement">
            <h2><span jhiTranslate="examenApp.evenement.detail.title">Evenement</span> {{ evenement.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="examenApp.evenement.libelle">Libelle</span></dt>
                <dd>
                    <span>{{ evenement.libelle }}</span>
                </dd>
                <dt><span jhiTranslate="examenApp.evenement.etat">Etat</span></dt>
                <dd>
                    <span>{{ evenement.etat }}</span>
                </dd>
                <dt><span jhiTranslate="examenApp.evenement.remise">Remise</span></dt>
                <dd>
                    <div *ngIf="evenement.remise">
                        <a [routerLink]="['/remise', evenement.remise?.id, 'view']">{{ evenement.remise?.libelle }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/evenement', evenement.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
