<div>
    <h2 id="page-heading">
        <span jhiTranslate="examenApp.reglement.home.title">Reglements</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-reglement" [routerLink]="['/reglement/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="examenApp.reglement.home.createLabel">
            Nouveau
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="reglements?.length === 0">
        <span jhiTranslate="examenApp.reglement.home.notFound">No reglements found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="reglements && reglements.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="datereglement"><span jhiTranslate="examenApp.reglement.datereglement">Datereglement</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="montant"><span jhiTranslate="examenApp.reglement.montant">Montant</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="codepaiement"><span jhiTranslate="examenApp.reglement.codepaiement">Codepaiement</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="modereglement"><span jhiTranslate="examenApp.reglement.modereglement">Modereglement</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="commande.id"><span jhiTranslate="examenApp.reglement.commande">Commande</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let reglement of reglements ;trackBy: trackId">
                    <td><a [routerLink]="['/reglement', reglement.id, 'view']">{{ reglement.id }}</a></td>
                    <td>{{ reglement.datereglement | date:'medium' }}</td>
                    <td>{{ reglement.montant }}</td>
                    <td>{{ reglement.codepaiement }}</td>
                    <td>{{ reglement.modereglement }}</td>
                    <td>
                        <div *ngIf="reglement.commande">
                            <a [routerLink]="['/commande', reglement.commande?.id, 'view']" >{{ reglement.commande?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/reglement', reglement.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view"></span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/reglement', reglement.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit"></span>
                            </button>

                            <button type="submit" (click)="delete(reglement)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="reglements && reglements.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
