<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="reglement">
            <h2><span jhiTranslate="examenApp.reglement.detail.title">Reglement</span> {{ reglement.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="examenApp.reglement.datereglement">Datereglement</span></dt>
                <dd>
                    <span>{{ reglement.datereglement }}</span>
                </dd>
                <dt><span jhiTranslate="examenApp.reglement.montant">Montant</span></dt>
                <dd>
                    <span>{{ reglement.montant }}</span>
                </dd>
                <dt><span jhiTranslate="examenApp.reglement.codepaiement">Codepaiement</span></dt>
                <dd>
                    <span>{{ reglement.codepaiement }}</span>
                </dd>
                <dt><span jhiTranslate="examenApp.reglement.modereglement">Modereglement</span></dt>
                <dd>
                    <span>{{ reglement.modereglement }}</span>
                </dd>
                <dt><span jhiTranslate="examenApp.reglement.commande">Commande</span></dt>
                <dd>
                    <div *ngIf="reglement.commande">
                        <a [routerLink]="['/commande', reglement.commande?.id, 'view']">{{ reglement.commande?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/reglement', reglement.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
