<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-reglement-heading" jhiTranslate="examenApp.reglement.home.createOrEditLabel">Create or edit a Reglement</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examenApp.reglement.datereglement" for="field_datereglement">Datereglement</label>
                    <div class="d-flex">
                        <input id="field_datereglement" type="datetime-local" class="form-control" name="datereglement" formControlName="datereglement" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examenApp.reglement.montant" for="field_montant">Montant</label>
                    <input type="number" class="form-control" name="montant" id="field_montant"
                           formControlName="montant"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examenApp.reglement.codepaiement" for="field_codepaiement">Codepaiement</label>
                    <input type="text" class="form-control" name="codepaiement" id="field_codepaiement"
                           formControlName="codepaiement"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examenApp.reglement.modereglement" for="field_modereglement">Modereglement</label>
                    <input type="text" class="form-control" name="modereglement" id="field_modereglement"
                           formControlName="modereglement"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="examenApp.reglement.commande" for="field_commande">Commande</label>
                    <select class="form-control" id="field_commande" name="commande" formControlName="commande">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="commandeOption.id === editForm.get('commande')!.value?.id ? editForm.get('commande')!.value : commandeOption" *ngFor="let commandeOption of commandes; trackBy: trackById">{{ commandeOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
