<div>
    <h2 id="page-heading">
        <span jhiTranslate="examenApp.typelieu.home.title">Les type d'endroit en location</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-typelieu" [routerLink]="['/typelieu/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="examenApp.typelieu.home.createLabel">
            Nouveau
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="typelieus?.length === 0">
        <span jhiTranslate="examenApp.typelieu.home.notFound">No typelieus found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="typelieus && typelieus.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="libelle"><span jhiTranslate="examenApp.typelieu.libelle">Libelle</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let typelieu of typelieus ;trackBy: trackId">
                    <td><a [routerLink]="['/typelieu', typelieu.id, 'view']">{{ typelieu.id }}</a></td>
                    <td>{{ typelieu.libelle }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/typelieu', typelieu.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view"></span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/typelieu', typelieu.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit"></span>
                            </button>

                            <button type="submit" (click)="delete(typelieu)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="typelieus && typelieus.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
