<div class="container-fluid" style="width: auto">
<!--    <div class="col-md-3">-->
<!--        <span class="hipster img-fluid rounded"></span>-->
<!--    </div>-->
<!--    <h3 class="display-4" jhiTranslate="home.title">ggg, <a routerLink="/lieux">Nos offres</a> Java Hipster!-->
<!--&lt;!&ndash;        <button class="btn btn-primary" (click)="getOffres()">Nos offres</button>&ndash;&gt;-->

<!--    </h3>-->
<!--    <h1>Bienvenue à notre service de location-->
<!--        <a routerLink="/lieu">Nos offres</a>-->
<!--    </h1>-->
    <div class="row" style="width: auto">
        <div class="card" style="width: 50%;">
            <img src="../../content/images/typelieu/amphiteatre.jpeg" class="card-img-top" height="300px" alt="">
            <div class="card-body">
                <h3 class="card-text text-primary">
                    <span class="badge badge-success">Amphitheatre de 500 places</span>
                </h3>
            </div>
        </div>

        <div class="card" style="width: 50%;">
            <img src="../../content/images/typelieu/discotheque.jpg" class="card-img-top" height="300px" alt="">
            <div class="card-body">
                <h3 class="card-text text-primary">
                    <span class="badge badge-success">Discothèque High class</span>
                </h3>
            </div>
        </div>

        <div class="card" style="width: 50%;">
            <img src="../../content/images/typelieu/jardin.jpg" class="card-img-top" height="300px" alt="">
            <div class="card-body">
                <h3 class="card-text text-danger">
                    <span class="badge badge-success">Jardin</span>
                </h3>
            </div>
        </div>



        <div class="card" style="width: 50%;">
            <img src="../../content/images/typelieu/Natif_basket.png" class="card-img-top" height="300px" alt="">
            <div class="card-body">
                <h3 class="card-text text-danger">
                    <span class="badge badge-success">Terrain de backet</span>
                </h3>
            </div>
        </div>

        <div class="card" style="width: 50%;">
            <img src="../../content/images/typelieu/piscines.png" class="card-img-top" height="300px" alt="">
            <div class="card-body">
                <h3 class="card-text text-primary">
                    <span class="badge badge-success">Piscine claire</span>
                </h3>
            </div>
        </div>

        <div class="card" style="width: 50%;">
            <img src="../../content/images/typelieu/plage.png" class="card-img-top" height="300px" alt="">
            <div class="card-body">
                <h3 class="card-text text-primary">
                    <span class="badge badge-success">Beaux plage</span>
                </h3>
            </div>
        </div>

        <div class="card" style="width: 50%;">
            <img src="../../content/images/typelieu/salle%20de%20conference.jpeg" class="card-img-top" height="300px" alt="">
            <div class="card-body">
                <h3 class="card-text text-primary">
                    <span class="badge badge-success">Salle de conférence de 250 places</span>
                </h3>
            </div>
        </div>

        <div class="card" style="width: 50%;">
            <img src="../../content/images/typelieu/salle%20de%20cours.png" class="card-img-top" height="300px" alt="">
            <div class="card-body">
                <h3 class="card-text text-primary">
                    <span class="badge badge-success">Salle de cours de 20 places</span>
                </h3>
            </div>
        </div>

        <div class="card" style="width: 50%;">
            <img src="../../content/images/typelieu/salle%20de%20reunion.jpg" class="card-img-top" height="300px" alt="">
            <div class="card-body">
                <h3 class="card-text text-primary">
                    <span class="badge badge-success">Salle de réunion de 15 places</span>
                </h3>
            </div>
        </div>
        <div class="card" style="width: 50%;">
            <img src="../../content/images/typelieu/sallon%20de%20mariage.jpg" class="card-img-top" height="300px" alt="">
            <div class="card-body">
                <h3 class="card-text text-primary">
                    <span class="badge badge-success">Espace mariage</span>
                </h3>
            </div>
        </div>
    </div>


<!--<img src="../../content/images/PLAGE-SENEGAL.jpg" width="100%">-->







<!--    <div class="col-md-4">-->
<!--&lt;!&ndash;        <table *ngIf="lieux">&ndash;&gt;-->
<!--&lt;!&ndash;            <tr>&ndash;&gt;-->
<!--&lt;!&ndash;                <th>Libelle</th><th>Adresse</th><th>Image</th>&ndash;&gt;-->
<!--&lt;!&ndash;            </tr>&ndash;&gt;-->
<!--&lt;!&ndash;            <tr *ngFor="let lieu of lieux">&ndash;&gt;-->
<!--&lt;!&ndash;                <td>{{lieu.libelle}}</td>&ndash;&gt;-->
<!--&lt;!&ndash;                <td>{{lieu.adresse}}</td>&ndash;&gt;-->
<!--&lt;!&ndash;                <td>{{lieu.image}}</td>&ndash;&gt;-->
<!--&lt;!&ndash;            </tr>&ndash;&gt;-->
<!--&lt;!&ndash;        </table>&ndash;&gt;-->
<!--    </div>-->

</div>

